{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}


<main>
  <div class="container wow fadeIn">

    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <div class="row">

      <div class="col-md-8 mb-4">

        <div class="card">


          <!-- <form>
            {{form|crispy}}
          </form> -->
          
          <form method="POST" class="card-body">

            {% csrf_token %}
            <!--address-->
            <div class="md-form mb-5">

              {{form.email}}
              <p class="font-small font-weight-lighter">*leave blank for using default email address</p>
              <label for="{{form.email.auto_id}}" class="">Email</label>
            </div>


            <!--address-2-->
            <div class="md-form mb-5">
              
              {{form.phone}}
              <p class="font-small font-weight-lighter">*We will contact you by this number in case of system failure</p>
              <label for="{{form.phone.auto_id}}" class="">Phone Number (important)</label>
      
            </div>

            

            <hr>

            
            <div class="custom-control custom-checkbox">
              <input {% if form.save_info.value %} checked {% endif %} type="checkbox" class="custom-control-input"
                id="save-info" name="save_info">
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>

            <hr>

            <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                <input id="{{name}}" value="{{value}}" name="payment_option" type="radio" class="custom-control-input"
                  checked required>
                <label class="custom-control-label" for="{{name}}">{{name}}</label>
              </div>
              {% endfor %}

            </div>


            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

          </form>

        </div>

      </div>




      {% include "promo_snippet.html" %}
      {% block promo_block %}
      {% endblock %}

    </div>

  </div>
</main>

{% endblock content %}